<div class="container">
  <div class="row">
  <h1>Public::Products#index</h1>
    <div class="col-md-3">
      <p>ジャンル検索</p>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>商品一覧</h2>
      <h5>(全<% @products.count %>件)</h5>
      <% @products.each do |product| %>

      <% end %>
    </div>
  </div>
</div>

