<div class="container">
  <div class="row">
    <div class="col_md-3">
      <h1>Public::Products#show</h1>
      <p>ジャンル検索</p>
    </div>
    <div class="col-md-8 offset-md-1">

    </div>
</div>
</div>