<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p>ジャンル検索</p>
    </div>
    
    <div class="col-md-6" style="margin-top: 50px;">
      <div style="text-align: center">
        <div class="box">
        <p class="border">
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。<br>
        </p>
      </div>
    </div>
      <h2>新着商品</h2>
      <%= link_to public_products_path do %>
        商品一覧
      <% end %>
      
    </div>
  </div>
</div>


