<h1>会員情報</h1>
<!--名前のデータを持ってくる-->
<h2>さんの会員情報編集</h2>






<div>会員ID</div>
<div>氏名</div>
<div>フリガナ</div>
<div>郵便番号</div>
<div>住所</div>
<div>電話番号</div>
<div>メールアドレス</div>
<div>会員ステータス</div>

<%= link_to "変更を保存", '#', class: 'btn btn-success' %>