<h1>注文履歴詳細のページです。</h1>


<h2>注文履歴詳細</h2>


<div>購入者</div>

<div>注文日</div>

<div>配送先</div>

<!--enumを用いて選ぶ-->
<div>支払方法</div>

<!--同じく設定しておく-->
<div>注文ステータス</div>
<%= link_to "更新", '#', class: 'btn btn-success' %>






<table>
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th>制作ステータス</th>
    <th></th>
  </tr>
  <tr>
    <td>商品名</td>
    <td>単価(税込)</td>
    <td>数量</td>
    <td>小計</td>
    <td>制作ステータス</td>

    <td><%= link_to "更新", '#', class: 'btn btn-success' %></td>
    <%# <%= f.submit class: 'btn btn-secondary' %>
  </tr>
</table>



