



<h4>注文履歴一覧</h4>

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>注文ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <!--注文の登録日時-->
      <td><%= link_to order.created_at.strftime("%Y-%m-%d %H:%M:%S"), admin_order_path(order) %></td>
      <!--注文の名前-->
      <td><%= order.customer.last_name + "　" + order.customer.first_name %></td>
      <!--注文の注文商品の数量-->
      <td><% order.product_orders.quantity %> </td>
      <!--注文のステータス-->
      <td> orders.status </td>
      <% end %>
    </tr>
  </tbody>
</table>


<!--ページネーション入れる-->
<%= paginate @orders %>