<h1>商品一覧のページです。</h1>


<h2>商品一覧</h2>

<table>
  <tr>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜価格</th>
    <th>ジャンル</th>
    <th>ステータス</th>
  </tr>
  <tr>
    <td>商品ID</td>
    <td>商品名</td>
    <td>税抜価格</td>
    <td>ジャンル</td>
    <td>ステータス</td>
  </tr>
</table>


<!--ページネーション入れる-->


