<div class="container">
  <div class="row">
    <div class="col-md-3" style="margin-top: 50px; text-align: center;">
      <h2>注文情報確認</h2>
      <ol style="list-style:none; text-align:center;">
        <li>1.入力</li>
        <li>2.確認</li>
        <li  class="current btn-info">3.完了</li>
      </ol>
    </div>
    <div class="col-md-6" style="text-align: center; margin-top: 50px;">
      <h2>ご注文ありがとうございました</h2>
    </div>
  </div>
</div>