<div class="container">
  <div class="row">
    <div class="col-md-3" style="text-align: center; margin-top: 50px;">
      <h2>注文情報<br>
          詳細</h2>
    </div>
    <div class="col-md-9" style="margin-top: 50px;">
      <table class="table table-inverse">
        <tr>
          <th>注文日</th>
        </tr>
        <tr>
          <th>配送先</th>
        </tr>
        <tr>
          <th>支払方法</th>
        </tr>
        <tr>
          <th>ステータス</th>
        </tr>
      </table>
    </div>
  </div>
</div>