<!-- headerの部分テンプレート -->
<header>
  
  <!-- ナビゲーションバーのレイアウト -->
  <nav class ="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;" role="navigation">
    <div class="container-fluid">
      <!-- 店名ロゴの表示-->
      <a class="navbar-brand" href="#" style="font-family: cursive;">
        <span>naganoCAKE</span>
      </a>
      <!-- ナビゲーション要素の追加 -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDrapdown"
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-nav" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <!-- ユーザーがログインしている＆会員の場合に表示 -->
          <% if customer_signed_in? %>
            <li>マイページ</li>
            <li>商品一覧</li>
            <li>カート</li>
            <li>
              <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-right-from-bracket"></i>
              <% end %>
            </li>
          <!-- ユーザーがログインしているかつ管理者の場合に表示 -->
          <% elsif admin_signed_in? %>
            <li>商品一覧</li>
            <li>会員一覧</li>
            <li>注文履歴一覧</li>
            <li>ジャンル一覧</li>
            <li>
              <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-right-from-bracket"></i>ログアウト
              <% end %>
            </li>
          <% else %>
            <li>About</li>
            <li>商品一覧</li>
            <li>
              <%= link_to new_customer_registration_path, class: 'nav-link' do %>
                <i class="fa-solid fa-house-chimney"></i>新規登録</li>
              <% end %>
            <li>
              <%= link_to new_customer_session_path, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-right-to-bracket"></i>ログイン
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  
</header>